---
import PageLayout from '../../layouts/PageLayout.astro';
const allPosts = Object.values(import.meta.glob('../*/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Tags";
---
<PageLayout pageTitle={pageTitle}>
    <p>This is the tags index page.</p>

<h2>Available Tags</h2>

  <ul class="tags">
    {tags.map((tag) => (
      <li class="tag"><a href={`/tags/${tag}`}>{tag}</a></li>
    ))}
  </ul>
  <style>

  .tags {
  }

  .tag {
    margin: 4px;
    padding: 6px 12px;
  }
</style>
              <a href="/" class="inline-block mt-6 px-6 py-3 bg-gray-700 hover:bg-gray-600 text-white transition-colors">Back to Home</a>
</PageLayout>