---
const pageTitle = "404 Not Found";
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout {...Astro.props} pageTitle={pageTitle}>
<div class="content">
        <p>The page you are looking for may not exist or may have been moved.</p>
        <p>Please check the URL and try accessing it again.</p>
        <p>To return to the homepage, please click the link below.</p>
        <p>For information about this site, please see <a href="/about/">here</a>.</p>
    </div>
        <a href="/" class="inline-block mt-6 px-6 py-3 bg-gray-700 hover:bg-gray-600 text-white transition-colors">Back to Home</a>
</PageLayout>
