---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Nao's Blog";
const pubDate = "2025-12-01";
const modDate = "2025-12-20";
const image = {
    url: '/images/blog2.webp',
    alt: "Image for Nao's blog",
};
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate} image={image}>
<h2>Overview</h2>
<p>This is a dedicated blog summarising Nao's thoughts.<br>
I'll freely write down whatever comes to mind.</p>
<h2>Articles</h2>
<h3>Psychology</h3>
<span>Tags: <a href="/tags/psychology" class="link">Psychology</a></span>
<ul class="menu-list">
<li><a href="/blog/psychology-ep1">That phenomenon where you believe something is correct simply because it's said with such confidence</a></li>
</ul>
<h3>Human Relationships</h3>
<span>Tags: <a href="/tags/human-relationships" class="link">Human Relationships</a></span>
<ul class="menu-list">
<li><a href="/blog/human-ep1">There's no one who can replace you</a></li>
<li><a href="/blog/human-ep2">‘There's no such thing as a perfect person’ – How her words from 10 years ago became my creed</a></li>
</ul>
<h3>Other</h3>
<span>Tags: <a href="/tags/other" class="link">Other</a></span>
<ul class="menu-list">
<li><a href="/blog/etc-ep1">Would you believe it, someone has actually created business cards for this site. </a></li>
</ul>
</PageLayout>
