---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Disclaimer";
const PubDate = "2025-12-01";
const ModDate = "2025-12-10";
---

<Layout pageTitle={pageTitle} PubDate={PubDate} ModDate={ModDate}>
<main id="article-body" class="w-full max-w-6xl bg-[#1e1e1e] px-16 pb-[60px] border-l-[1px] border-[#3c3c3c]">
<h1>Disclaimer</h1>
<p>This disclaimer applies to 【Naomina121】 (hereinafter referred to as ‘this blog’).</p>
<hr>
<p>This blog is a site created as a hobby. </p>
<p>While this blog shares information on mental health and information literacy, it does not constitute diagnosis or advice from a doctor or specialist. </p>
<h2>Scope of Responsibility for Published Content</h2>
<p>Any actions or decisions taken based on the published content are undertaken at the user's own risk and responsibility. </p>
<p>We shall not be held liable for any damages arising from the information provided on this blog. </p>
<p>Whilst every effort is made to provide accurate information in each piece of content, we cannot guarantee its accuracy or safety. </p>
<p>Please also note that we cannot be held responsible for information or services provided on other sites linked to from this blog. </p>
<h2>Use of AI-Assisted Tools</h2>
<p>Articles created are based on the author's experience, research, and writing. However, some aspects of sentence structure and expression may have been assisted by AI editing tools. </p>
<p>Furthermore, content may include material independently edited or rewritten after consulting external information or publicly available materials. </p>
<p>Date of enactment: 1 December 2025</p>
<p>Date of update: 10 December 2025</p>
<p>Operator: Naomina121</p>

</main>
</Layout>
