---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Disclaimer";
const pubDate = "2025-12-01";
const modDate = "2025-12-20";
---

<PageLayout pageTitle={pageTitle} pubDate={pubDate} modDate={modDate}>
<p>【Naomina121】(hereinafter referred to as ‘this blog’) disclaimer. </p>
<hr>
<p>This blog is a site created as a hobby. </p>
<p>This blog does not endorse any specific treatment methods, ideologies, or products. </p>
<p>Whilst this blog disseminates information concerning mental health and information literacy, it does not constitute diagnosis or advice from a doctor or specialist. </p>
<h2>Scope of Responsibility for Published Content</h2>
<p>Any actions or judgements based on the published content are undertaken at the user's own responsibility. </p>
<p>We shall not be held liable for any damages arising from the information provided on this blog. </p>
<p>Whilst we endeavour to provide accurate information in each piece of content, we cannot guarantee its accuracy or safety. </p>
<p>Please also note that we cannot be held responsible for information or services provided on external sites linked to from this blog. </p>
<h2>Use of AI-Assisted Tools</h2>
<p>Articles created are based on the author's experience, research, and writing. However, some sentence structures and expressions may have been assisted by AI editing tools. </p>
<p>Additionally, content may include material independently edited or rewritten based on external information and publicly available materials. </p>
<p>Date of enactment: 1 December 2025</p>
<p>Date of update: 20 December 2025</p>
<p>Operator: Naomina121</p>
</PageLayout>
