---
import PageLayout from '../layouts/PageLayout.astro';
const pageTitle = "Nao's Activity Bases";
const pubDate = "2025-12-01";
const modDate = "2025-12-20";
const description = "Here we introduce Nao's base of operations.";
---

<PageLayout pageTitle={pageTitle} description={description} pubDate={pubDate} modDate={modDate}>
<p>Here we introduce Nao's base of operations.</p>
<h2>Site List</h2>
<h3>Text-Based Sites</h3>
<ul class="menu-list">
<li><a href="https://dev.naomina121.com" target="_blank">Programming Learning Site</a></li>
</ul>
<hr class="my-4 border-gray-600">
<h3>Image Portfolio</h3>
<ul class="menu-list">
<li><a href="https://naomina121.tumblr.com/" target="_blank">Nao's Image Portfolio</a></li>
</ul>

<hr class="my-4 border-gray-600">
<h3>Mastodon</h3>
<ul class="menu-list">
<li><a href="https://mastodon.naomina121.com/@naomina121" target="_blank">naomina121's Mastodon</a></li>
<li><a href="https://mastodon.naomina121.com/@one_2025_" target="_blank">one's Mastodon account</a></li>
<li><a href="https://mastodon.naomina121.com/@naomina1201" target="_blank">Daily Mastodon account</a></li>
<li><a href="https://mastodon.naomina121.com/@minamiemi2006" target="_blank">English Learning (Naomi Hashimoto)'s Mastodon account</a></li>
</ul>
</PageLayout>
