---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Nao's base of operations";
const PubDate = "2025-12-01";
const ModDate = "2025-12-11";
---

<Layout pageTitle={pageTitle} PubDate={PubDate} ModDate={ModDate}>
<main id="article-body" class="w-full max-w-6xl bg-[#1e1e1e] px-16 pb-[60px] border-l-[1px] border-[#3c3c3c]">
<h1>Nao's Base of Operations</h1>
<p>Here we introduce Nao's base of operations.</p>
<h2>Site List</h2>
<h3>Text-Based Sites</h3>
<ul class="menu-list">
<li><a href="https://dev.naomina121.com" target="_blank">Programming Learning Site</a></li>
</ul>
<hr class="my-4 border-gray-600">
<h3>Image Portfolio</h3>
<ul class="menu-list">
<li><a href="https://naomina121.tumblr.com/" target="_blank">Nao's Image Portfolio</a></li>
</ul>
<hr class="my-4 border-gray-600">
<h3>X</h3>
<ul class="menu-list">
<li><a href="https://x.com/naomina121" target="_blank">naomina121's X</a></li>
<li><a href="https://x.com/one_2025_" target="_blank">one's X account</a></li>
<li><a href="https://x.com/naomina1201" target="_blank">Daily life X account</a></li>
<li><a href="https://x.com/minamiemi2006" target="_blank">English learning (Naomi Hashimoto) X account</a></li>
</ul>

<hr class="my-4 border-gray-600">
<h3>Mastodon</h3>
<ul class="menu-list">
<li><a href="https://mastodon.naomina121.com/@naomina121" target="_blank">naomina121's Mastodon</a></li>
<li><a href="https://mastodon.naomina121.com/@one_2025_" target="_blank">one's Mastodon account</a></li>
<li><a href="https://mastodon.naomina121.com/@naomina1201" target="_blank">Daily Mastodon account</a></li>
<li><a href="https://mastodon.naomina121.com/@minamiemi2006" target="_blank">English Learning (Naomi Hashimoto)'s Mastodon account</a></li>
</ul>
<hr class="my-4 border-gray-600">
<h3>note</h3>
<ul class="menu-list">
<li><a href="https://note.com/naomina121_note" target="_blank">note</a></li>
<li><a href="https://note.com/one_2025_" target="_blank">one's note account</a></li>
</ul>
</main>
</Layout>
