---
import PageLayout from '@layouts/PageLayout.astro';
const pageTitle = "Privacy Policy";
const description = "This is the privacy policy of NAOMINA121.";
const pubDate = "2025-12-01";
const modDate = "2025-12-20";
---

<PageLayout pageTitle={pageTitle} description={description}  pubDate={pubDate} modDate={modDate}>
<p>The privacy policy for 【NAOMINA121】 (hereinafter referred to as ‘this blog’) is set out below. </p>
<h2>Purpose of Use of Personal Information</h2>
<p>This blog may ask you to input personal information such as your name and email address when making an enquiry. </p>
<p>Personal information obtained will only be used for necessary communications and will not be used for any other purposes. </p>
<h2>Disclosure of Personal Information to Third Parties</h2>
<p>Personal information obtained will be managed appropriately and will not be disclosed to third parties except in the following cases:</p>
<ul>
<li>When consent has been obtained from the individual concerned</li>
<li>When disclosure is required by law</li>
</ul>
<h2>Use of Cookies</h2>
<p>This blog uses cookies for access analysis purposes.</p>
<p>Cookies identify browsers, but anonymity is maintained as they cannot identify specific individuals.</p>
<p>If you do not wish to use cookies, you can disable them in your browser settings.</p>
<h2>About Access Analysis Tools</h2>
<p>This blog analyses access information using Google Analytics. </p>
<p>Cookies are used for analysing access information. You can refuse the collection of access information by disabling cookies. </p>
<p>For details on Google's data collection and processing mechanisms, please see <a href="https://policies.google.com/technologies/partner-sites?hl=ja&ref=localhost">here</a>.</p>
<h2>Disclaimer</h2>
<p>This blog accepts no liability whatsoever for any damages arising from the content published herein. </p>
<p>While every effort is made to provide accurate information in each piece of content, we cannot guarantee its accuracy or safety. </p>
<p>Furthermore, please understand that we cannot be held responsible for information or services provided on other sites linked to from this blog. </p>
<h2>Copyright</h2>
<p>The copyright for all text and images published on this blog belongs to the operator. </p>
<p>Unauthorised reproduction beyond the scope of legally permitted quotations is prohibited. </p>
<h2>Changes to the Privacy Policy</h2>
<p>This blog complies with Japanese laws and regulations concerning personal information and endeavours to review and improve the content of this Privacy Policy as appropriate. </p>
<p>The latest revised Privacy Policy will always be disclosed on this page. </p>
<p>Enacted: 20 December 2025</p>
<p>【NAOMINA121】 【Nao】</p>
</PageLayout>
