---
import Layout from "../layouts/Layout.astro";
const pageTitle = "お問合せ頂きありがとうございます";
---

<Layout pageTitle={pageTitle}>
<main id="article-body" class="w-full max-w-6xl bg-[#1e1e1e] px-16 pb-[60px] border-l-[1px] border-[#3c3c3c]">
<h1>Thank you for your enquiry.</h1>
<p>We will review your enquiry and get back to you shortly. Please bear with us for a little while. </p>
<p>Please note that depending on the nature of your enquiry, we may not be able to respond. We appreciate your understanding in advance. </p>
<p>We look forward to your continued support of the naomina121 website. </p>
<a href="/"
  class="inline-block mt-6 px-6 py-3 bg-gray-700 hover:bg-gray-600 text-white transition-colors"
>Return to Home</a>
</main>
</Layout>

